*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background-color:rgb(2,2,32);
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#08152f;
padding:40px;
width:400px;
border-radius:15px;
text-align:center;
}

h1{
color:#fc0254;
margin-bottom:25px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input{
padding:14px;
border:none;
border-radius:8px;
outline:none;
}

button{
padding:14px;
border:none;
border-radius:30px;
background:#fc0254;
color:white;
cursor:pointer;
font-size:16px;
}

button:hover{
opacity:0.9;
}

p{
margin-top:20px;
color:white;
}

a{
color:#fc0254;
text-decoration:none;
}
